.navbar-center {
  position: relative;
  align-self: center;
  width: 215px;
}

.search-bar {
  width: 100%;
  padding: 5px 7px 5px 26px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #fafafa;
}

.search-bar:focus {
  outline: none;
}

.search-bar-placeholder {
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  &.hide {
    display: none;
  }
}

.search-bar-placeholder span {
  display: flex;
  align-items: center;
  color: #8e8e8e;
}

.search-bar-placeholder span i {
  margin-right: 6px;
  color: #8e8e8e;
  font-size: 10px;
}

.search-box-close-button {
  position: absolute;
  top: 7px;
  right: 7px;
  display: none;
}

.search-box-close-button i {
  color: #c7c7c7;
}
