.Comment {
  width: 100%;

  .textbox,
  li {
    padding: 3px 0px 5px 0px;
  }

  .commentBtn {
    width: 100%;
    display: flex;

    .commentBox {
      border: 1px solid black;
      width: 100%;
    }
  }

  button {
    width: 70px;
  }
}
