.Recommend {
	margin: 24px 0;

	.recommend-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 8px;
	
		span {
			color: #8E8E8E;
			font-weight: bold;
		}
	}
	
	.recommend-all-button {
		font-size: 12px;
		font-weight: bold;
	}
}