nav {
  position: fixed;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #e6e6e6 !important;
  background-color: white;
  z-index: 10;

  .navbar {
    display: flex;
    max-width: 975px;
    width: 100%;
    padding: 0 20px;

    .navbar-icon {
      margin-left: 22px;

      a i {
        font-size: 22px;
      }
    }

    .navbar-left {
      display: flex;
      flex: 1 0 0%;
      align-items: center;

      .navbar-logo {
        margin-left: 0 !important;

        a {
          display: flex;
          align-items: center;

          .navbar-logo-image {
            margin-right: 22px;
          }

          .navbar-logo-title {
            padding: 0 22px;
            border-left: 1px solid black;
            font-family: 'Lobster', cursive;
            font-size: 24px;
            font-weight: bold;
          }
        }
      }
    }

    .navbar-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1 0 0%;

      .mypage-button img {
        width: 22px;
        height: 22px;
        border-radius: 50%;
      }
    }

    .show {
      display: block;
    }
  }
}

@mixin list-item-hover {
  &:hover {
    background-color: #fafafa;
    cursor: pointer;
  }

  &:first-child:hover {
    border-radius: 6px 6px 0 0;
  }

  &:last-child:hover {
    border-radius: 0 0 6px 6px;
  }
}

@media all and (max-width: 500px) {
  .navbar-logo-image {
    display: none !important;
  }

  .navbar-logo-title {
    padding: 0 !important;
    border-left: none !important;
  }

  .navbar-center {
    display: none;
  }
}
